@charset "utf-8";
/* COMMON */
* { margin:0; padding:0; border:none; font-family:'Malgun Gothic', sans-serif; }
html { height:100%; }
body { position:relative; width:100%; height:100%; font-size:12px; line-height:normal; }
ul, li { list-style:none; }
a { text-decoration:none; color:inherit; }

.ta-l { text-align:left; }
.ta-r { text-align:right; }
.ta-c { text-align:center; }
.ta-j { text-align:justify; }

/* bt */
.bt_wrap { padding:10px 0 0 0; text-align:right; }
.bt1 { display:inline-block; width:90px; padding:7px 0; border:0; cursor:pointer; color:#fff; font-size:12px; transition:all .5s ease; }
.bt1-black { background-color:#999; }
.bt1-black:hover { background-color:#666; }
.bt1-red { background-color:#ef6262; }
.bt1-red:hover { background-color:#d64040; }
.bt1-green { background-color:#68ab5a; }
.bt1-green:hover { background-color:#4b8c3d; }
.bt1-blue { background-color:#5daae0; }
.bt1-blue:hover { background-color:#4198d6; }

.ipt1 { width:70%; padding:10px; border:0; background:#eee; }


#wrap { height:100%; }
#idx_container_wrap { min-height:100%; margin:-61px 0 -97px 0; }
#idx_container { padding:61px 0 97px 0; }
#page_container_wrap { min-height:100%; margin:-261px 0 -97px 0; }
#page_container { padding:261px 0 97px 0; }
#page_view { width:1000px; margin:0 auto; padding:60px 0; }



/* INDEX */
#header_wrap { height:60px; border-bottom:1px solid #ddd; z-index:10; }
#header_wrap > div { width:1000px; margin:0 auto; }
#header_wrap > div > h1 { float:left; padding-top:20px; font-size:16px; font-weight:600; }
#gnb_wrap { float:right; }

/*
#gnb_wrap > ul { font-size:0; }
#gnb_wrap > ul > li { position:relative; display:inline-block; width:120px; vertical-align:top; text-align:center; }
#gnb_wrap > ul > li > a { display:block; padding-top:22px; height:39px; font-size:14px; }
#gnb_wrap > ul > li:hover > a { font-weight:600; color:#297cb7; }
#gnb_wrap > ul > li > ul { display:none; position:absolute; top:52px; left:-20px; width:120px; padding-top:9px; background:url(/img/comm/gnb_arrow.png) no-repeat 50% 0; z-index:1; }
#gnb_wrap > ul > li:hover > ul { display:block; width:160px; }
#gnb_wrap > ul > li > ul > li { border-top:1px dashed #5daae0; background:#4198d6; }
#gnb_wrap > ul > li > ul > li:first-child { border-top:0; }
#gnb_wrap > ul > li > ul > li > a { display:block; padding:10px 0; font-size:13px; color:#fff; }
#gnb_wrap > ul > li > ul > li > a:hover { background:#297cb7; color:#fff; font-weight:600; }
*/

#gnb_wrap > ul { width: }







#idxA { width:100%; height:560px; background:url(../img/index/idxA_bg.jpg) no-repeat 30% 70%; background-size:cover; }
#idxB > div { width:1000px; margin:0 auto; padding:80px 0; text-align:center; }
#idxB > div > h4 { margin-bottom:60px; font-size:24px; font-weight:normal; }
#idxB > div > ul { font-size:0; }
#idxB > div > ul > li { display:inline-block; width:28%; margin-left:8%; font-size:12px; vertical-align:top; }
#idxB > div > ul > li:first-child { margin-left:0; }
#idxB > div > ul > li > h5 { margin:20px 0; font-size:16px; font-weight:600; }
#idxB > div > ul > li > p { text-align:left; color:#777; line-height:160%; text-align:justify; }

#idxC > ul { font-size:0; text-align:center; }
#idxC > ul > li { display:inline-block; width:25%; background:#000; }
#idxC > ul > li > a { display:block; width:100%; height:240px; padding-top:200px; background-size:cover; background-position:50% 50%; background-repeat:no-repeat; opacity:0.6; font-size:30px; color:#fff; transition:all 1s ease; }
#idxC1 > a { background-image:url(../img/index/idxC1.jpg); }
#idxC2 > a { background-image:url(../img/index/idxC2.jpg); }
#idxC3 > a { background-image:url(../img/index/idxC1.jpg); }
#idxC4 > a { background-image:url(../img/index/idxC2.jpg); }
#idxC > ul > li > a:hover { opacity:1; }

#idxD > div { width:1000px; margin:0 auto; padding:80px 0; text-align:center; }
#idxD > div > h4 { margin-bottom:30px; font-size:24px; font-weight:normal; letter-spacing:10px; }
#idxD > div > p { width:70%; margin:0 auto; font-size:13px; line-height:160%; color:#777; }
#idxD > div > ul { margin:40px 0; font-size:0; text-align:center; }
#idxD > div > ul > li { display:inline-block; width:22%; margin:5px 0 5px 4%; }
#idxD > div > ul > li:nth-child(4n-3) { margin-left:0; }
#idxD > div > a { display:block; margin:0 auto; width:180px; padding:13px 0; background:#4198d6; font-size:14px; color:#fff; transition:all 1s ease; }
#idxD > div > a:hover { background:#297cb7; }


#footer_wrap { clear:both; background:#2f2e2e; text-align:center; }
#footer_wrap > div { padding:20px 0; line-height:160%; }
#footer_wrap > div > ul > li { display:inline; margin-left:20px; color:#999; }
#footer_wrap > div > ul > li:first-child { margin-left:0; }
#footer_wrap > div > p { color:#999; }

/* board-list */
.board-list-head, .board-list-body > ul > li { width:100%; border-bottom:1px solid #eee; font-size:0; }
.board-list-head > div, .board-list-body > ul > li > div { display:inline-block; padding:10px 0; font-size:13px; text-align:center; }
.board-list-head-num, .board-list-body-num { width:5%; }
.board-list-head-tit, .board-list-body-tit { width:65%; }
.board-list-head-wri, .board-list-body-wri { width:15%; }
.board-list-head-dat, .board-list-body-dat { width:15%; }

/* board-list-head */
.board-list-head { border-top:2px solid #000; }
.board-list-head > div { font-weight:600; }

/* board-list-body */
.board-list-body-tit { text-align:left !important; }

/* board-list-page */
.board-list-page { line-height:100%; }
.board-list-page > a { display:inline-block; margin:0 5px; text-decoration:none; color:#000; }
.board-list-page-num-on { font-weight:600; }
.board-list-page-num:hover { text-decoration:underline; }

/* board-view */
.board-view-tit { border-top:2px solid #000; }
.board-view-tit > div { border-bottom:1px solid #eee; }
.board-view-tit-line1 > dl > dt  { width:15%;  }
.board-view-tit-line1 > dl > dd  { width:85%;  }

.board-view-tit-line2 > ul { font-size:0; }
.board-view-tit-line2 > ul > li { display:inline-block; width:50%; }
.board-view-tit-line2 > ul > li > dl > dt { width:30%; }
.board-view-tit-line2 > ul > li > dl > dd { width:70%; }

.board-view-tit-line1 > dl, .board-view-tit-line2 > ul > li > dl { font-size:0; }
.board-view-tit > div > dl > dt, .board-view-tit > div > ul > li > dl > dt { display:inline-block; padding:10px 0; text-align:center; font-weight:600; font-size:13px; }
.board-view-tit > div > dl > dd, .board-view-tit > div > ul > li > dl > dd { display:inline-block; padding:10px 0; font-size:13px; }

.board-view-cont { padding:10px 0; border-bottom:1px solid #eee; font-size:13px; line-height:160%; }

/* board-write */
.board-write > div { border-bottom:1px solid #eee; }
.board-write-tit { border-top:2px solid #000; }
.board-write-tit > dl { font-size:0; }
.board-write-tit > dl > dt, .board-write-tit > dl > dd { display:inline-block; padding:10px 0; font-size:13px; }
.board-write-tit > dl > dt { width:15%; text-align:center; font-weight:600; }
.board-write-tit > dl > dd { width:85%; }
.board-write-cont { padding:10px 0; font-size:13px; }

/* certi_list */
.certi_list > h3 { margin-bottom:20px; font-size:24px; font-weight:600; }
.certi_list > p { margin-bottom:10px; font-size:12px; color:#777; line-height:160%; }
.certi_list > ul { font-size:0; }
.certi_list > ul > li { display:inline-block; width:160px; margin:10px 0 10px 8px; text-align:center; vertical-align:top; }
.certi_list > ul > li:nth-child(6n-5) { margin-left:0; }
.certi_list > ul > li > img { width:100%; margin-bottom:12px; border:1px solid #eee; box-sizing:border-box; cursor:pointer; transition:all .5s ease; }
.certi_list > ul > li > img:hover { border-color:#aaa; }
.certi_list > ul > li > span { font-size:12px; color:#777; }

.certi_view { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:black; }
.certi_view > ul { position:absolute; top:50%; width:100%; margin-top:-413px; }
.certi_view > ul > li { position:relative; width:600px; margin:0 auto; }
.certi_view > ul > li > span { position:absolute; top:0; right:0; width:41px; height:41px; cursor:pointer; }
