@charset "utf-8";
/* COMMON */
* { margin:0; padding:0; border:none; font-family:'Malgun Gothic', sans-serif; }
html { height:100%; }
body { position:relative; width:100%; height:100%; font-size:12px; line-height:normal; }
ul, li { list-style:none; }
a { text-decoration:none; color:inherit; }



#wrap { height:100%; }
#idx_container_wrap { min-height:100%; margin:-61px 0 -97px 0; }
#idx_container { padding:61px 0 97px 0; }
#page_container_wrap { min-height:100%; margin:-261px 0 -97px 0; }
#page_container { padding:261px 0 97px 0; }
#page_view { width:1000px; margin:0 auto; padding:60px 0; }



/* INDEX */
#header_wrap { height:60px; border-bottom:1px solid #ddd; z-index:10; }
#header_wrap > div { width:1000px; margin:0 auto; }
#header_wrap > div > h1 { float:left; padding-top:20px; font-size:16px; font-weight:600; }
#gnb_wrap { float:right; }
#gnb_wrap > ul { font-size:0; }
#gnb_wrap > ul > li { position:relative; display:inline-block; width:120px; vertical-align:top; text-align:center; }
#gnb_wrap > ul > li > a { display:block; padding-top:22px; height:39px; font-size:14px; }
#gnb_wrap > ul > li:hover > a { font-weight:600; color:#297cb7; }
#gnb_wrap > ul > li > ul { display:none; position:absolute; top:52px; left:-20px; width:120px; padding-top:9px; background:url(/img/comm/gnb_arrow.png) no-repeat 50% 0; z-index:1; }
#gnb_wrap > ul > li:hover > ul { display:block; width:160px; }
#gnb_wrap > ul > li > ul > li { border-top:1px dashed #5daae0; background:#4198d6; }
#gnb_wrap > ul > li > ul > li:first-child { border-top:0; }
#gnb_wrap > ul > li > ul > li > a { display:block; padding:10px 0; font-size:13px; color:#fff; }
#gnb_wrap > ul > li > ul > li > a:hover { background:#297cb7; color:#fff; font-weight:600; }

#idxA { width:100%; height:560px; background:url(../img/index/idxA_bg.jpg) no-repeat 30% 70%; background-size:cover; }
#idxB > div { width:1000px; margin:0 auto; padding:80px 0; text-align:center; }
#idxB > div > h4 { margin-bottom:60px; font-size:24px; font-weight:normal; }
#idxB > div > ul { font-size:0; }
#idxB > div > ul > li { display:inline-block; width:28%; margin-left:8%; font-size:12px; vertical-align:top; }
#idxB > div > ul > li:first-child { margin-left:0; }
#idxB > div > ul > li > h5 { margin:20px 0; font-size:16px; font-weight:600; }
#idxB > div > ul > li > p { text-align:left; color:#777; line-height:160%; text-align:justify; }

#idxC > ul { font-size:0; text-align:center; }
#idxC > ul > li { display:inline-block; width:25%; background:#000; }
#idxC > ul > li > a { display:block; width:100%; height:240px; padding-top:200px; background-size:cover; background-position:50% 50%; background-repeat:no-repeat; opacity:0.6; font-size:30px; color:#fff; transition:all 1s ease; }
#idxC1 > a { background-image:url(../img/index/idxC1.jpg); }
#idxC2 > a { background-image:url(../img/index/idxC2.jpg); }
#idxC3 > a { background-image:url(../img/index/idxC1.jpg); }
#idxC4 > a { background-image:url(../img/index/idxC2.jpg); }
#idxC > ul > li > a:hover { opacity:1; }

#idxD > div { width:1000px; margin:0 auto; padding:80px 0; text-align:center; }
#idxD > div > h4 { margin-bottom:30px; font-size:24px; font-weight:normal; letter-spacing:10px; }
#idxD > div > p { width:70%; margin:0 auto; font-size:13px; line-height:160%; color:#777; }
#idxD > div > ul { margin:40px 0; font-size:0; text-align:center; }
#idxD > div > ul > li { display:inline-block; width:22%; margin:5px 0 5px 4%; }
#idxD > div > ul > li:nth-child(4n-3) { margin-left:0; }
#idxD > div > a { display:block; margin:0 auto; width:180px; padding:13px 0; background:#4198d6; font-size:14px; color:#fff; transition:all 1s ease; }
#idxD > div > a:hover { background:#297cb7; }


#footer_wrap { clear:both; background:#2f2e2e; text-align:center; }
#footer_wrap > div { padding:20px 0; line-height:160%; }
#footer_wrap > div > ul > li { display:inline; margin-left:20px; color:#999; }
#footer_wrap > div > ul > li:first-child { margin-left:0; }
#footer_wrap > div > p { color:#999; }