@media screen and ( max-width:999px ) {
#wrap { min-width:320px; }
	
#idx_container_wrap { margin:-51px 0 -141px 0; }
#idx_container { padding:51px 0 141px 0; }
#page_container_wrap { margin:-261px 0 -141px 0; }
#page_container { padding:261px 0 141px 0; }

#header_wrap { height:50px; }
#header_wrap > div { width:auto; }
#header_wrap > div > h1 { float:none; padding-top:15px; font-size:13px; text-align:center; }
#gnb_wrap { display:none; }


#idxA { height:300px; }
#idxB > div { width:auto; padding:30px 0; }
#idxB > div > h4 { margin-bottom:30px; word-break:keep-all; font-size:16px; }
#idxB > div > ul > li > p { display:none; }
#idxB > div > ul > li > img { width:70%; max-width:148px; }
#idxB > div > ul > li > h5 { margin-bottom:0; font-size:12px; word-break:keep-all; }
#idxC > ul > li { width:50%; }
#idxC > ul > li > a { height:115px; padding-top:90px; font-size:20px; }
#idxD > div { width:auto; padding:30px 0; }
#idxD > div > h4 { font-size:16px; }
#idxD > div > p { width:90%; font-size:11px; text-align:justify; }
#idxD > div > ul { width:90%; margin:20px auto; }
#idxD > div > a { width:120px; padding:10px 0; font-size:12px; }



#footer_wrap { min-height:141px; text-align:left; }
#footer_wrap > div { line-height:140%; }
#footer_wrap > div > ul > li { display:inline-block; margin-left:10px; font-size:11px; }
#footer_wrap > div > ul > li:first-child { margin-left:10px; }
#footer_wrap > div > p { margin-left:10px; }












}