#page_top { width:100%; height:200px; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; }
#page_top > div { width:100%; height:200px; background:url(/img/comm/black70.png); }
#page_top > div > h2 { padding:65px 0 15px 0; text-align:center; color:#fff; font-size:24px; font-weight:600; }
#page_top > div > p { text-align:center; color:#fff; opacity:0.6; font-size:13px; letter-spacing:2px; }


.greet { font-size:0; }
.greet > div { display:inline-block; width:30%; margin-left:5%; vertical-align:top; }
.greet > div:first-child { margin-left:0; }
.greet > div > h1 { font-size:36px; font-weight:normal; line-height:140%; }
.greet > div > p { font-size:12px; color:#777; line-height:160%; text-align:justify; }

.location_box1 { padding:20px; background:#e0e0e0; text-align:center; }
.location_box1 > ul > li { display:inline-block; margin-left:60px; font-size:14px; }
.location_box1 > ul > li:first-child { margin-left:0; }

.products_list > ul { font-size:0; }
.products_list > ul > li { display:inline-block; width:30%; margin:50px 0 0 5%; vertical-align:top; font-size:16px; }
.products_list > ul > li:first-child, .products_list > ul > li:nth-child(2), .products_list > ul > li:nth-child(3) { margin-top:0; }
.products_list > ul > li:nth-child(3n-2) { margin-left:0; }
.products_list > ul > li > img { display:block; width:100%; border-radius:10px; }
.products_list > ul > li > div { padding:20px 0; }
.products_list > ul > li > div > h3 { margin-bottom:10px; font-size:16px; }
.products_list > ul > li > div > p { padding-bottom:12px; margin-bottom:12px; border-bottom:1px dashed #ccc; font-size:13px; }
.products_list > ul > li > div > span { font-size:12px; }

.certi_list { margin-bottom:40px; }
.certi_list > h3 { margin-bottom:20px; font-size:24px; font-weight:600; }
.certi_list > p { margin-bottom:10px; font-size:12px; color:#777; line-height:160%; }
.certi_list > ul { font-size:0; }
.certi_list > ul > li { display:inline-block; width:160px; margin:10px 0 10px 8px; text-align:center; vertical-align:top; }
.certi_list > ul > li:nth-child(6n-5) { margin-left:0; }
.certi_list > ul > li > img { width:100%; margin-bottom:12px; border:1px solid #eee; box-sizing:border-box; cursor:pointer; transition:all .5s ease; }
.certi_list > ul > li > img:hover { border-color:#aaa; }
.certi_list > ul > li > span { font-size:12px; color:#777; }

.certi_view { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:black; }
.certi_view > ul { position:absolute; top:50%; width:100%; margin-top:-413px; }
.certi_view > ul > li { position:relative; width:600px; margin:0 auto; }
.certi_view > ul > li > span { position:absolute; top:0; right:0; width:41px; height:41px; cursor:pointer; opacity:0.5; transition:all .5s ease; }
.certi_view > ul > li > span:hover { opacity:0.7; }
.certi_view > ul > li > img { width:100%; }

.media_list > ul > li { position:relative; margin-top:20px; padding:20px; border:1px solid #e5e5e5; border-bottom:2px solid #e5e5e5; border-radius:5px; }
.media_list > ul > li:first-child { margin-top:0; }
.media_list > ul > li > h6 { margin-bottom:12px; font-size:20px; font-weight:600; }
.media_list > ul > li > span { display:block; margin-bottom:12px; color:#999; }
.media_list > ul > li > p { margin-bottom:10px; }
.media_list > ul > li > .bt_wrap { width:auto; }

@media screen and ( max-width:999px ) {
.products_list { width:92%; margin:0 auto; }
.products_list > ul > li { width:48%; margin:20px 0 0 4%; }
.products_list > ul > li:nth-child(3) { margin-top:20px; }
.products_list > ul > li:nth-child(3n-2) { margin-left:4%; }
.products_list > ul > li:nth-child(2n-1) { margin-left:0; }
.products_list > ul > li > div > h3 { font-size:14px; }
.products_list > ul > li > div > p { padding-bottom:10px; margin-bottom:6px; font-size:11px; }
.products_list > ul > li > div > span { font-size:11px; }

.certi_list { width:92%; margin:0 auto 20px auto; }
.certi_list > h3 { margin-bottom:10px; font-size:16px; }
.certi_list > p { text-align:justify; font-size:11px; }
.certi_list > ul > li > span { font-size:11px; word-break:keep-all; }
.certi_list > ul > li { width:22%; margin-left:4%; }
.certi_list > ul > li:nth-child(6n-5) { margin-left:4%; }
.certi_list > ul > li:nth-child(4n-3) { margin-left:0%; }

.certi_view > ul { top:17%; margin-top:0; }
.certi_view > ul > li { width:80%; max-width:600px; }

.media_list { width:92%; margin:0 auto; }
}
@media screen and ( max-width:499px ) {
.certi_list > ul > li { width:48%; margin-left:4%; }
.certi_list > ul > li:nth-child(4n-1) { margin-left:4%; }
.certi_list > ul > li:nth-child(2n-1) { margin-left:0%; }
}